<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Кодирование звуковой информации</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h2>Кодирование звуковой информации</h2>
        </div>
        <div class="textarea">
            <b>Звук</b> – это волны, распространяющиеся в твердых телах, жидкостях и газах, вызванные колебаниями частиц среды. Изменения давления акустической волны на препятствия, позволяет слуховому аппарату человека регистрировать звук. Основными характеристиками любой волны являются частота и амплитуда. Амплитуда акустического сигнала характеризует громкость звука, а частота – тон. Акустическая волна является непрерывной, поэтому для обработки на компьютере ее необходимо преобразовать в цифровую форму.
            <br>В ходе кодирования звуковая информация подвергается временной дискретизации. Этот процесс заключается в регистрации параметров звука через определённые очень короткие промежутки времени, в пределах которых сигнал считается неизменным. Частоту измерения сигнала называют <b>частотой дискретизации</b>. При оцифровке звука в памяти запоминаются отдельные значения сигнала, который нужно выдать на динамик или наушники, при этом количество отсчетов, запоминаемых за 1 секунду, определяется частотой дискретизации.
            1 Гц (один герц) – это один отсчет в секунду, а 8 кГц – это 8000 отсчетов в секунду.
            <b>Глубина кодирования</b> – это количество бит, которые выделяются на один отсчет.
            <br>Для хранения информации о звуке длительностью <b>N</b> секунд, закодированном с частотой дискретизации <b>x</b> Гц и глубиной кодирования <b>Z</b> бит <b>потребуется N ⋅ x ⋅ Z бит памяти.</b>
            Например, при 8 кГц, глубине кодирования 16 бит на отсчёт и длительности звука 128 секунд требуется 8000 ⋅ 16 ⋅ 128 = 1638400 бит = 2000 Кбайт, то есть около 2 Мбайт.
            Рассмотренный пример относится к однокональному (монофоническому) звуку. При двухканальной записи (стерео) объем памяти, необходимый для хранения данных одного канала, умножается на 2, при четырехканальной (квадро) — на 4.

            
            <div class="main-footer m-f-t">
                <div class="links-wrapper">
                    <a href="/audio-info-test">Перейти к тесту самоконтроля &#8594;</a></a>
                    <a id="mainLink" href="/" style="position: relative; right: 22px;">&#8592; Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>