<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Кодирование графической информации</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h2>Кодирование графической информации</h2>
        </div>
        <div class="textarea">
            <b>Пиксель</b> – минимальный участок изображения, для которого независимым образом можно задать цвет.
            <b>Разрешающая способность</b> растрового изображения определяется количеством точек по горизонтали и вертикали на единицу длины изображения. Чем меньше размер точки, тем больше разрешающая способность, а значит, выше качество изображения. Величина разрешающей способности выражается в dpi (dot per inch – точек на дюйм), т.е. количество точек в полоске изображения длиной один дюйм (1 дюйм=2,54 см.) 
            <br>
            Количество информации, которое используется для кодирования цвета точки изображения, называется <b>глубиной цвета.</b> В процессе дискретизации используются различные палитры цветов (наборы цветов, которые могут принять точки изображения). Количество цветов <b>N</b> в палитре и количество информации <b>I</b>, необходимое для кодирования цвета каждой точки, могут быть вычислены по формуле: <b>N=2<sup>I</sup></b>. Для кодирования черно-белого изображения (без градации серого) используются всего два цвета – черный и белый. По формуле <b>N=2<sup>I</sup></b> можно вычислить, какое количество информации необходимо, чтобы закодировать цвет каждой точки: <br>
            <span class="t-centered"> <b>2=2<sup>I</sup> &#8594; 2=2<sup>1</sup> &#8594; I = 1 бит</b></span> 
            Таким образом, количество цветов в палитре при глубине цвета 8 равняется 2<sup>8</sup> = 256, и так далее.
            В системе цветопередачи RGB палитра цветов формируется путём сложения красного, зеленого и синего цветов. Цвет палитры Color можно определить с помощью формулы: <b>Color = R + G + В</b>. Для глубины цвета 24 бита (8 бит на каждый цвет): <b>0 ≤ R ≤ 255, 0 ≤ G ≤ 255, 0 ≤ B ≤ 255</b>
            
            <div class="main-footer m-f-t">
                <div class="links-wrapper">
                    <a href="/graphic-info-test">Перейти к тесту самоконтроля &#8594;</a></a>
                    <a id="mainLink" href="/" style="position: relative; right: 22px;">&#8592; Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>