<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Главная</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h2>Теоретический материал</h2>
        </div>
        <div class="textarea">
            <a href="/measurements">Измерение информации в технике</a>
            <br>
            <a href="/text-info">Кодирование текстовой информации</a>
            <br>
            <a href="/graphic-info">Кодирование графической информации</a>
            <br>
            <a href="/audio-info">Кодирование звуковой информации</a>
        </div>
        <div class="title">
            <h2>Тест</h2>
        </div>
        <div class="textarea">
            <a id="toTest" href="/final-test">Перейти к тесту на проверку знаний</a>
        </div>
    </div>
    <script>
        const toTest = document.querySelector("#toTest");

        toTest.addEventListener('click', (e) => {
            e.preventDefault();
            window.location.replace('/final-test');
        })
    </script>
</body>
</html>