<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Кодирование текстовой информации</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h2>Тест самоконтроля</h2>
        </div>
        <div class="textarea">
            <div class="q-wrapper">
                <h2>Считая, что каждый символ кодируется одним байтом, определите, чему равен информационный объем в битах следующего высказывания Жан-Жака Руссо:
                    <br>Тысячи путей ведут к заблуждению, к истине – только один.
                    </h2>
                <div id="res-1" class="result"></div>
                <label for="radioB-1">
                    <input type="radio" name="q-1" id="radioB-1">
                    280 бит
                </label>
                <label for="radioB-2">
                    <input type="radio" name="q-1" id="radioB-2">
                    512 бит
                </label>
                <label for="radioB-3">
                    <input type="radio" name="q-1" id="radioB-3">
                    466 бит
                </label>
            </div>
            <div class="q-wrapper">
                <h2>Определить объем памяти в Кбайтах, занимаемый текстом из 60 страниц по 512 символов на каждой странице. (кодировка ASCII)</h2>
                <div id="res-2" class="result"></div>
                <label for="radioB-4">
                    <input type="radio" name="q-2" id="radioB-4">
                    30 Кбайт
                </label>
                <label for="radioB-5">
                    <input type="radio" name="q-2" id="radioB-5">
                    10 Кбайт
                </label>
                <label for="radioB-6">
                    <input type="radio" name="q-2" id="radioB-6">
                    24 Кбайт
                </label>
            </div>
            <div class="q-wrapper">
                <h2>Сообщение занимает 3 страницы и содержит 7950 байтов информации. Сколько строк на странице, если символов в каждой строке 25 и использована кодировка Unicode?</h2>
                <div id="res-3" class="result"></div>
                <label for="radioB-7">
                    <input type="radio" name="q-3" id="radioB-7">
                    53 строки
                </label>
                <label for="radioB-8">
                    <input type="radio" name="q-3" id="radioB-8">
                    40 строк
                </label>
                <label for="radioB-9">
                    <input type="radio" name="q-3" id="radioB-9">
                    62 строки
                </label>
            </div>
            <div class="main-footer">
                <button id='getResults'>Проверить</button>
                <div class="links-wrapper">
                    <a id="theoryLink" href="/text-info" hidden style="position: relative; right: 22px;">&#8592; Вернуться к теории</a>
                    <a id="mainLink" href="/" hidden>Вернуться на главную &#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/test-check.js"></script>
    <script>
        document.querySelector('#getResults').addEventListener('click', () => {
            checkTest(['cmFkaW9CLTM=','cmFkaW9CLTQ=','cmFkaW9CLTc=']);
        });
        
    </script>
</body>
</html>